.div-background {
  padding: 20px 50px;
}

.div-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.home-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 40px;
  justify-items: center;
}

.btn-change {
  background-color: #f84c4c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
}

.btn-change:hover {
  background-color: #e4390b;
  transition: 0.5s ease-in-out;
}

.btn-disabled {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.5;
  width: 120px;
  font-family: "Montserrat", sans-serif;
}
