.navbar {
  display: flex;
  background-color: #f84c4c;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.navbar-img {
  height: 35px;
}

.navbar-search {
  height: 20px;
  border-radius: 10px;
  border: none;
  width: 250px;
  padding: 3px;
  margin: 0 40px;
  padding-left: 15px;
  outline: none;
}

.navbar-search::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

.navbar-div-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
}

.navbar-filter-type {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.navbar-filter-abilities {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.navbar-button {
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  width: 120px;
  height: 30px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.navbar-button:hover {
  background-color: #fff6f3;
  color: #000000;
  transition: 0.5s ease-in-out;
}

h4 {
  font-weight: 400;
  font-size: 15px;
}

select {
  border: none;
  border-bottom: solid 1px #000;
  background-color: transparent;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  width: 150px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
}
