.navbar {
  display: flex;
  background-color: #f84c4c;
  height: 60px;
  align-items: center;
  position: relative;
  width: calc(100vw - (100vw - 100%));
}

.navbar-img {
  height: 35px;
  margin-left: 1rem;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.navigation-menu {
  width: calc(88vw - (100vw - 100%));
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  align-items: center;
}

.navbar-ul-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-search {
  height: 20px;
  border-radius: 10px;
  border: none;
  width: 16rem;
  padding: 3px;
  margin: 0 10px;
  padding-left: 15px;
  outline: none;
}

.navbar-search::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

.navbar-div-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.navbar-filter-type {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.navbar-filter-abilities {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.navbar-button {
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  width: 120px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.navbar-button:hover {
  background-color: #fff6f3;
  color: #000000;
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 810px) {
  .hamburger {
    display: block;
  }

  .navigation-menu {
    width: 0;
  }

  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(40vh - 100px);
    background-color: #f84c4c;
    display: none;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  }

  .navbar-search{
    width: 15.5rem;
  }

  .navbar-ul-div {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .navbar-div-filter {
    padding-right: 0px;
  }
  .navbar-div-filter h4 {
    width: 30vw;
  }
}
